<% include ../partials/header %>
<button onclick="document.getElementById('id01').style.display='block'" type="submit" class="login-button" style="width:auto;"><%- loginname %></button>
<div  style="background: #383838" class="jumbotron jumbotron-fluid">
  <h2 style="text-align:center;"><a class="title" href="/" style="color:#efefef; text-decoration: none;" class="display-4"><b>COOKI</b></a><h2>
</div>

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <div class="w3-container">
        <form class = "box" action="../../login" method="POST" class="modal-content animate" >
          <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
          <h1 style="text-align:center;">Login</h1>
          <input type="email" placeholder="Enter Email" name="username" required>
          <input type="password" placeholder="Password" name="password" required>
          <input type="submit" value="Login">
          <a href="../../register"><input type="button" value="Register?"></a>
          <br>
        </form>
      </div>
    </div>
</div>

<div class="search-box">
  <input class="search-txt" type="text" name="" placeholder="Search recipe ..."/>
  <a class="search-btn" href="#">
      <i class="fas fa-search"></i>
  </a>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <form action="/recipe" method="get">
        <%
          if(general) { %>
          <h2 style="color:#0000FF;"> <%- general.name %> </h2>
          <h3 style="color:#0000FF;"> Difficulty: <%- general.difficulty %> </h3>
          <h3 style="color:#0000FF;"> Preparation Time: <%- general.prep_time %> </h3
        <% } %>
      </form>
      <form action="/recipe" method="get">
        <h3 style="color:#0000FF;"> Ingredients: </h3>
        <ul style="list-style-type:disc;">
        <%
          if(ingredients) {
            var ingredientList = '';
            ingredients.forEach(function(item){
              ingredientList += '<li>' + item.name + '</li>';
									}); %>
							<%- ingredientList %>
				<% } %>
        </ul>
			</form>
      <form action="/recipe" method="get">
        <%
          if(general) { %>
          <h3 style="color:#0000FF;"> Instructions: <%- general.body %> </h3>
          <% } %>
      </form>
      <form action="/recipe" method="get">
        <%
          if(general) { %>
          <h3 style="color:#0000FF;"> Tutorial: </h3>
          <iframe width="420" height="315" src= "<%- general.videolink %>"> </iframe>
          <% } %>
      </form>
      <form action="/recipe" method="get">
        <h3 style="color:#0000FF;"> Reviews: </h3>
        <u1 style="list-style-type:disc;">
          <%
            if(reviews) {
              var reviewList = '';
              reviews.forEach(function(item){
                reviewList += '<li>' + item.username + 'Rating:' + item.rating + '<br>' + 'Comments:' + item.body + '</li>';
              }); %>
            <%- reviewList %>
            <% } %>
        </u1>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
}
</script>
<% include ../partials/footer %>
