<% include ../partials/header_recipe %>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-red">COOKI</a>
    <%
      var button = '';
      if(loginname!=null) {
        button += '<a href="/account" class="w3-bar-item w3-button w3-padding-large w3-hover-red">' + loginname + '</a>';
      }
      else {
        button += '<button class="w3-bar-item w3-padding-large w3-button w3-hover-red" style="align:right;" onclick="document.getElementById(\'id01\').style.display=\'block\'" type="submit" title="LOGIN">LOGIN</button>';
      }%>
      <%- button %>
      <input class="search-txt" type="text" name="search" placeholder="Search recipe..."/>
      <a onclick="document.getElementById('search-form').submit();console.log('sent');" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    </form>
  </div>
</div>

<!-- login modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <div class="w3-container">
        <form class = "box" action="../../login" method="POST" class="modal-content animate" >
          <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
          <h1 style="text-align:center;">Login</h1>
          <input type="email" placeholder="Enter Email" name="username" required>
          <input type="password" placeholder="Password" name="password" required>
          <input type="submit" value="Login">
          <a href="../../register"><input type="button" value="Register?"></a>
          <br>
        </form>
      </div>
    </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:100%;">
  <!-- Recipe Image -->
  <div class="w3-display-container w3-center">
    <form action="/recipe" method="get">
      <%
        if(general) { %>
            <img src="https://foodrevolution.org/wp-content/uploads/2018/04/blog-featured-diabetes-20180406-1330.jpg" style="width:100%">
      <% } %>
    </form>
  </div>
</div>
<!-- Recipe Information -->
<div class="w3-container w3-teal w3-content w3-center w3-padding-64" style="max-width:80%" id="recipe_info">
  <form action="/recipe" method="get">
    <%
      if(general) { %>
          <h2 class="w3-wide"> <%- general.name %> </h2>
          <p class="w3-wide"> <i> Difficulty: <%- general.difficulty %>/10 <br> <br> Preparation Time: <%- general.prep_time %>  </i> </p>
        <% } %>
  </form>
  <form action="/recipe" method="get">
    <p class="w3-wide"> <i> <br> Ingredients: </i> </p>
      <%
        if(ingredients) {
          var ingredientList ='';
          ingredients.forEach(function(item){
            ingredientList += '<i>' + item.name + ' </i> <br>';
          }); %>
          <%- ingredientList %>
      <% } %>
  </form>
  <form action="/recipe" method="get">
    <%
      if(general) { %>
      <p class="w3-wide"> <i> <br> Instructions: </i> </p>
      <p class="w3-justify"> <br> <%-general.body %> </p>
    <% } %>
  </form>
  <form action="/recipe" method="get">
    <%
      if(general) { %>
        <p class="w3-wide"> <i> <br> Tutorial: </i> </p>
        <iframe width="700" height="400" src="<%- general.videolink %>"> </iframe>
        <% } %>
  </form>

  <form action="/recipe" method="get">
    <p class="w3-wide"> <i> <br> Reviews: </i> </p>
    <%
      if(reviews) {
        var reviewList ='';
        reviews.forEach(function(item){
          reviewList += '<p class="w3-justify"> <i> Comment by: ' + item.username + '<br>' + 'Rating: ' + item.rating + '/10 <br>' + '</i> </p>'
                        + '<p style= "height: 250px;" id="rcorners1">' + item.body + '</p>' + '<br></br>';
        }); %>
        <%- reviewList %>
      <% } %>
  </form>
  <form class="boxcomment">
    <input type="button" value="Favorite?">
  </form>
  <br>
  <form class="boxcomment">
    <input class="form-control" type="text" placeholder="Enter Comment (must be logged in)" name="name" required>
  </form>
  <br></br>
</div>
<script type="text/javascript">
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
}
</script>
<% include ../partials/footer %>
